@font-face {
    font-family: pokemonBattleFont;
    src: url('../fonts/pokemon-x-and-y.ttf');
}

body {
    background-color: black;
}

.popover-img {
    height: 100px;
    width: auto;
}

.no-outline {
    outline: none;
}

.character-img {
    position: absolute;
    width: auto;
    height: 300px;
}

.battle-option {
    position: relative;
    width: 100%;
    font-size: 1.5em;
    font-family: pokemonBattleFont;
    cursor: pointer;
}

.top-option {
    padding-top: 25px;
    padding-bottom: 10px;
}

.bottom-option {
    padding-top: 10px;
    padding-bottom: 25px;
}

#hello {
    height: 50px;
    width: 100px;
}

#choose-row {
    background-color: rgb(107, 194, 123);
}

#choose-screen {
    position: relative;
    height: 100vh;
    width: 100%;
}

#battle-screen {
    position: relative;
    height: 100vh;
    width: 100%;
}

#battleground-container {
    position: relative;
    height: 80vh;
    width: 100%;
}

#battleground-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#chosen-img {
    bottom: 0;
    left: 13%;
}

#chosen-health-container {
    font-family: pokemonBattleFont;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40%;
}

#defender-img {
    top: 70px;
    right: 13%;
}

#defender-health-container {
    font-family: pokemonBattleFont;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40%;
}

#battle-text-container {
    position: relative;
    height: 20vh;
    width: 100%;
    bottom: 0;
}

#battle-log-container {
    position: relative;
    height: 20vh;
    width: 100%
}

#battle-text-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#battle-log {
    font-size: 2.1em;
    font-family: pokemonBattleFont;
    position: relative;
    width: 100%;
    height: 100%;
    left: 50px;
    top: 20px;
    margin: 0;
}